:root {
  --color-palette-1: #495867;
  --color-palette-2: #577399;
  --color-palette-3: #bdd5ea;
  --color-palette-4: #f7f7ff;
  --color-palette-5: #fe5f55;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Alkatra", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100%;

  background-color: var(--color-palette-4);
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1em;
}

a {
  color: var(--color-palette-3);
}

a:active {
  color: var(--color-palette-5);
}

input {
  flex-grow: 0.5;

  border: none;
  border-radius: 10px;
  padding: 0.5em;

  font-size: 1.2em;
  background-color: var(--color-palette-4);
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--color-palette-3);
  font-family: "Alkatra";
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-palette-3);
  font-family: "Alkatra";
}

::placeholder {
  color: var(--color-palette-3);
  font-family: "Alkatra";
}

h1 {
  margin: 0;
  color: var(--color-palette-4);
}

button {
  border: none;
  border-radius: 10px;

  transition: box-shadow 1s;
}

button:hover {
  box-shadow: 10px 10px var(--color-palette-1);
}

footer,
header {
  display: flex;

  padding: 1em;

  background-color: var(--color-palette-1);
  color: var(--color-palette-3);
}

footer {
  justify-content: space-around;

  font-size: 1.5em;
}

/*
  LOADING 
*/

.loading > h1 {
  text-align: center;
  color: var(--color-palette-1);
}

/*
  LOGIN 
*/

.login {
  flex-grow: 0.4;
  min-width: 300px;
  max-width: 600px;
  width: 75%;

  display: flex;
  justify-content: center;

  margin: auto;
  border: none;
  border-radius: 15px;

  box-shadow: 10px 10px var(--color-palette-1);

  background-color: var(--color-palette-2);

  transition: box-shadow 1s;
}

.ok-button {
  flex-grow: 0.5;
  padding: 0.7em;

  font-size: 1.2em;
  font-family: "Alkatra";
  color: var(--color-palette-1);
  background-color: var(--color-palette-3);
}

.ok-button:active {
  background-color: rgb(209, 233, 254);
}

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;

  margin: 0 auto;
  padding: 1em;
}

.modal > h1 {
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  padding: 1em 0;
}

/*
  EMAIL FORM 
*/

.email-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;

  margin: 0 auto;
  padding: 5em 1em;
}

.email-form > h1 {
  text-align: center;
}

.email-form > form {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

/*
  EMAIL OTP
*/

.otp-form {
  flex-grow: 1;
  width: 90%;
  display: flex;
  gap: 0.5em;

  margin: auto;
}

#passcode {
  height: 3em;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  padding: 1em 0;

  font-family: "Alkatra";
  color: var(--color-palette-1);
  text-align: center;
  align-items: center;
  font-size: 3em;
  line-height: 1em;

  resize: none;
  overflow: hidden;
}

.message-wrapper {
  flex-grow: 1;
  width: 100%;
  min-height: 65px;
  display: flex;

  margin: auto;
}

#otp-message {
  width: 90%;

  margin: auto;
  border-radius: 10px;
  padding: 0.5em;

  text-align: center;
  font-size: 1.2em;
  color: var(--color-palette-5);
  background-color: var(--color-palette-1);
}

/*
  DEVICE REGISTRATION
*/

#device-reg-message {
  width: 90%;

  margin: auto;
  border-radius: 10px;
  padding: 0.5em;

  text-align: center;
  font-size: 1.2em;
  color: var(--color-palette-4);
  background-color: var(--color-palette-1);
}

.retry-cancel {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.retry-button {
  width: 25%;
  min-width: fit-content;

  margin: 0 auto;
  padding: 0.7em;

  font-size: 1.2em;
  font-family: "Alkatra";
  color: var(--color-palette-1);
  background-color: var(--color-palette-3);
}

.retry-button:active {
  background-color: rgb(209, 233, 254);
}

/*
  USER CONTAINER
*/

.user-container {
  flex-grow: 0.4;
  min-width: 85%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

  margin: auto;
  border: none;
  border-radius: 15px;
  padding: 2.5em 1em;
  box-shadow: 10px 10px var(--color-palette-1);

  text-align: center;
  background-color: var(--color-palette-2);

  transition: box-shadow 1s;
}

/*
  USER INFO 
*/

.user-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: monospace;
}

caption {
  margin-bottom: 0.5em;

  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-palette-3);
}

th,
td {
  padding: 0.7em 0.1em;
}

th {
  background-color: var(--color-palette-1);
  color: var(--color-palette-4);
}

td {
  background-color: var(--color-palette-4);
  color: var(--color-palette-1);
}

.user-info table {
  width: 100%;
  margin: auto;

  line-break: anywhere;
}

.mobile-user-meta {
  display: none;
  flex-direction: column;
  gap: 1em;
}

.mobile-user-meta h2 {
  margin: 0;
  color: var(--color-palette-3);
}

.key-and-type {
  width: 75%;
  display: flex;

  margin: auto;
  border-radius: 10px;

  background-color: var(--color-palette-3);
  text-align: center;
}

.key-and-type div {
  width: 50%;
  height: 2em;

  line-break: anywhere;
  vertical-align: middle;
  line-height: 2em;
}

.key-and-type :first-child {
  border-right: 1px solid var(--color-palette-2);

  color: var(--color-palette-1);
}

.key-and-type :nth-child(2) {
  color: var(--color-palette-2);
}

.value {
  padding: 0.5em;

  line-break: anywhere;
  color: var(--color-palette-4);
  font-weight: bold;
}

.user-info h1 {
  word-break: normal;
}

.cancel-button {
  min-width: fit-content;

  margin: 0;
  padding: 0.7em;

  font-size: 1.2em;
  font-family: "Alkatra";
  color: var(--color-palette-4);
  background-color: var(--color-palette-5);
}

.cancel-button:active {
  background-color: rgb(274, 155, 105);
}

/*
  LOGOUT
*/

.logout-button {
  padding: 0.7em;

  font-size: 1.2em;
  color: var(--color-palette-1);
  background-color: var(--color-palette-3);
}

.logout-button:active {
  background-color: rgb(209, 233, 254);
}

/*
  MFA SETTINGS
*/

.settings-button {
  min-width: fit-content;

  margin: 0;
  padding: 0.7em;

  font-size: 1.2em;
  font-family: "Alkatra";
  color: var(--color-palette-3);
  background-color: var(--color-palette-1);
}

.overlay-container {
  position: fixed; /* Stay in place relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Full height of the viewport */

  backdrop-filter: blur(5px); /* Filter effect */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  position: fixed; /* Stay in place relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%; /* Ensures the wrapper takes up to 100% of the parent's height */
  overflow-y: auto; /* Allows scrolling if content exceeds the available height */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.enable-mfa {
  position: absolute;

  width: 80%;
  max-height: 80%;

  display: flex;
  flex-direction: column;
  gap: 3em;

  margin: auto;
  padding: 1em;
  border-radius: 10px;

  text-align: center;
  background-color: var(--color-palette-2);
}

.mfa-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.mfa-page0-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
.mfa-message {
  border: none;
  border-radius: 10px;
  padding: 2em;
  background-color: var(--color-palette-1);
  color: #f7f7ff;
}

.qr-code-key-container {
  width: 100%;
  min-height: 65px;
  display: flex;
  justify-content: center;

  margin: auto;
  border-radius: 10px;
  padding: 1em;

  background-color: var(--color-palette-1);
}

.authenticator-svg-logos-wrapper {
  display: flex;
  gap: 1em;

  margin: auto;
  padding: 0.5em;
  border-radius: 10px;

  background-color: var(--color-palette-1);
}

.svg-logo {
  width: 50px;
}

.mfa-qr-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1em;
}
.mfa-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-palette-3);
}

.qr-code-wrapper {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.key-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  margin: auto;
}
.span-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--color-palette-3);
}
.key-code {
  display: flex;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.5em;
  background-color: #f7f7ff;
  cursor: pointer;
}
.span-recovery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--color-palette-4);
}
.span-key-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--color-palette-1);
}

.emoji-confirm {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--color-palette-3);

  margin: auto;
  border-radius: 10px;
  padding: 1em;

  background-color: #495867;
  font-size: xx-large;
}

.span-page3-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--color-palette-3);

  margin: auto;
  border-radius: 10px;
  padding: 1em;

  background-color: var(--color-palette-1);
}

.copy-symbol-svg {
  width: 20px;
}

.mfa-config-otp-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mfa-buttons {
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.mfa-next-button {
  width: 61.8%;
}

.mfa-otp-submit {
  flex-grow: 1;
}

/*
  MEDIA QUERIES
*/

@media (width < 600px) {
  main {
    padding: 0;
  }

  header {
    padding: unset;
    justify-content: center;
    text-align: center;
  }

  .login {
    max-width: none;
    width: 100%;
    box-shadow: none;
    border-radius: unset;
  }

  .email-form > form {
    flex-direction: column;
    gap: 2em;
  }

  .otp-form {
    flex-direction: column;
    gap: 1em;
  }

  input {
    height: 2.7em;
  }

  .ok-button {
    height: 4em;
  }

  .user-container {
    width: 100%;
    max-width: none;

    padding: 1em;
    border-radius: unset;
    box-shadow: none;
  }

  .user-info {
    gap: 1em;
    font-size: 1.2em;
  }

  .user-info h1 {
    font-size: 1.5em;
  }

  .user-info table {
    display: none;
  }
  .mobile-user-meta {
    display: flex;
  }

  .enable-mfa {
    width: 100%;
  }
  .mfa-buttons {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    gap: 1em;
  }
  .mfa-next-button {
    width: 100%;
  }

  footer {
    padding: unset;
    gap: 1em;
  }
}
